
p{
    margin-top: 0 !important;
    font-family: 'Sacramento',
    sans-serif !important;
    font-size: 30px;
    color: #ccc !important;
    text-align: center;
}

a{
    text-decoration: none;
    color: #d3cbcb;
    font-family: 'Montserrat',sans-serif;
}

a:hover{
    color: #3cb0fd;
}

body{
    margin: 0;
}   

.first-container{
    background-color: #222831;
    /* height: 620px; */
}

.btn {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: rgb(153, 147, 147);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-width: 0 0 0 0;
    font-size: 1.5rem;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
    color: #222831;
}

.nav-container {
    padding: 0 30px 0 30px;
    /* margin: 0 100px 0 130px; */
    height: 100px;
    /* background-color: #46244C; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-width: 0 0 0 0;
    position: relative;
    position: fixed;
    position: relative;
}

.nav-list{
    display: flex;
    margin: 0;
    width: 50%;
    justify-content: space-evenly;
}

.text-container {
    /* margin: 150px 0 0 100px; */
    line-height: 1.5;
    color: #d3cbcb;
    font-family: 'Montserrat',sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 20px 50px;
    box-sizing: border-box;
}

.sub-container{
    width: 30%;
    margin: 80px 0 0 0;
}

.text{
    font-size: 1.875rem;
}


.Me{
    /* position: absolute; */
    right: 150px;
    top: 150px;
}

.second-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 20px;
}

.html-card{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #f8f7f7;
    box-shadow: 5px 5px 13px #9f9e9e,
    -5px -5px 13px #ffffff;
}

.html{
    width: 25%;
    align-self: center;
}

.html-text{
    align-self: center;
    
    line-height: 1.2 !important; 
    /* text-align: center; */
    /* font-family: 'Sacramento', sans-serif;*/
} 

/*styling the css card */
.css-card{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #f8f7f7;
    box-shadow: 5px 5px 13px #9f9e9e,
    -5px -5px 13px #ffffff;
}

.css{
    width: 35%;
    align-self: center;
    margin: 0 0 7px 0;
}

.css-text{
    line-height: 1.2 !important;
}

/*styling the javascript card*/
.javascript-card{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #f8f7f7;
    box-shadow: 5px 5px 13px #9f9e9e,
    -5px -5px 13px #ffffff;
}

.javascript{
    width: 40%;
    align-self: center;
}

.javascript-text{
    line-height: 1.2 !important;
}




